.NavBar{
    display: flex;
    flex-direction: row;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.NavBar{
    background-color: var(--navBackgroundColor);
    
}

.Logo{
    background-image: url(../../../assets/logo.svg);
    width: 28px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.logoContainer{
    /* background: #7C5DFA; */
    height: 72px;
    width: 72px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.color1{
    background: #7C5DFA;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 0px 20px 20px 0px;
}

.color2{
    background: #9277FF;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    border-radius: 20px 0px 20px 0px;
}

.celestialBody{
    background-image: url(../../../assets/icon-moon.svg);
    height: 20px;
    width: 20px;
}
.avatarImage{
    background-image: url(../../../assets/image-avatar.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.itemContainer{
    display: flex;
    align-items: center;
}

.navItem{
    margin-right: 24px;
}

.line{
    background: #494E6E;
    height: 72px;
    width: 1px;
}

@media screen and (min-width: 768px) {
    .NavBar{
        height: 80px;
    }
    .logoContainer{
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .NavBar{
        flex-direction: column;
        width: 103px;
        height: 100vh;
        position: fixed;
        border-radius: 0px 20px 20px 0px;
    }

    .logoContainer{
        height: 103px;
        width: 103px;
    }

    .itemContainer{
        flex-direction: column;
    }
    .navItem{
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .line{
        width: 103px;
        height: 1px;
    }

    .avatarImage{
        height: 40px;
        width: 40px;
    }

    .celestialBody{
        margin-bottom: 32px;
    }


}

