/* You can add global styles to this file, and also import other style files */
*{
box-sizing: border-box;
margin: 0;
font-family: 'League Spartan', sans-serif;
}

Body{
    --backgroundColor: #F8F8FB;
    --navBackgroundColor: #373B53;
    --textColor: #888EB0;
    --boldTextColor: #0C0E16;
    --tertiaryColor: #7E88C3;
    --cardBackgroundColor: #FFFFFF;
    --secondaryTextColor: #858BB2;
    --offCanvasBackground: #FFFFFF;
    --inputBorderColor:  #DFE3FA;
    --selectColor: #0C0E16;
    --addItemBackgroundColor: #F9FAFE;

    --discardButtonBackgroundColor:#F9FAFE;
    --saveAsDraftColor: #888EB0;

}
    

Body.DarkTheme{
    --backgroundColor: #141625;
    --navBackgroundColor:#1E2139;
    --textColor: #DFE3FA;
    --boldTextColor: #FFFFFF;
    --tertiaryColor: #DFE3FA;
    --cardBackgroundColor:#1E2139;
    --secondaryTextColor: #FFFFFF;
    --offCanvasBackground: #141625;
    --inputBorderColor:#252945;
    --selectColor: #DFE3FA;
    --addItemBackgroundColor: #252945;
    --discardButtonBackgroundColor:#252945;;
    --saveAsDraftColor:#DFE3FA;
}   

body{
    background-color: var(--backgroundColor);
}

body.DarkTheme{
    background-color: var(--backgroundColor);
    
}